.container {
  max-width: 100%;
  padding: 0;

  /* 테마별 여행지 */
  .area {
    max-width: 980px;
    margin: 0 auto;
    text-align: center;
    padding: 50px 0;

    .region {
      display: flex;
      align-items: center;
      justify-content: space-around;

      &-list {
        &-item {
          display: inline-flex;
          flex-direction: column;
          align-items: center;
          gap: 15px;
          transition: all ease .2s;
          min-width: 124px;

          &.is-active {
            font-size: 20px;
            font-weight: 600;

            img {
              border: 2px solid #333;
              width: 80px;
              min-width: 80px;
              height: 80px;
            }
          }

          img {
            width: 65px;
            min-width: 65px;
            height: 65px;
            border-radius: 50%;
            background: #eaeaea;
          }

          span {

          }
        }
      }
    }
  }
  /* EOD : 테마별 여행지 */

  /* 지도 */
  .map {
    max-width: 980px;
    margin: 0 auto;
    display: flex;

    &-view {
      flex: 1;
      position: relative;

      &-all {
        width: 268px;
        height: 370px;
        margin: 0 auto;
        position: relative;

        .map-all {
          width: 268px;
          height: 370px;
        }

        .map-section {
          height: 370px;
          position: absolute;
          width: 268px;
          top: 0;
          left: 0;

          &-item {
            height: 370px;

            input[type=radio] {
              height: 0;
              opacity: 0;
              position: absolute;
              width: 0;

              & + label {
                cursor: pointer;
              }

              &:checked {
                & + label {
                  img {
                    display: block;
                  }
                }
              }
            }
          }

          img {
            position: absolute;
            display: none;

            &.map-1 {
              display: block;
            }
          }

          .map-2 {
            width: 27px;
            height: 22px;
            top: 61px;
            left: 64px;
          }

          .map-3 {
            width: 13px;
            height: 20px;
            top: 63px;
            left: 53px;
          }

          .map-4 {
            width: 21px;
            height: 24px;
            top: 151px;
            left: 85px;
          }

          .map-5 {
            width: 28px;
            height: 30px;
            top: 193px;
            left: 152px;
          }

          .map-6 {
            width: 25px;
            height: 16px;
            top: 241px;
            left: 40px;
          }

          .map-7 {
            width: 35px;
            height: 28px;
            top: 241px;
            left: 177px;
          }

          .map-8 {
            width: 34px;
            height: 33px;
            top: 217px;
            left: 191px;
          }

          .map-9 {
            width: 89px;
            height: 104px;
            top: 18px;
            left: 42px;
          }

          .map-10 {
            width: 136px;
            height: 121px;
            top: 0;
            left: 88px;
          }

          .map-11 {
            width: 18px;
            height: 23px;
            top: 134px;
            left: 80px;
          }

          .map-12 {
            width: 50px;
            height: 25px;
            left: 1px;
            top: 344px;
          }

          .map-13 {
            width: 90px;
            height: 92px;
            top: 98px;
            left: 91px;
          }

          .map-14 {
            width: 92px;
            height: 86px;
            top: 105px;
            left: 18px;
          }

          .map-15 {
            width: 111px;
            height: 116px;
            top: 112px;
            left: 122px;
          }

          .map-16 {
            width: 107px;
            height: 83px;
            top: 197px;
            left: 100px;
          }

          .map-17 {
            width: 97px;
            height: 67px;
            top: 175px;
            left: 29px;
          }

          .map-18 {
            width: 112px;
            height: 88px;
            top: 223px;
            left: 2px;
          }

          .map-19 {
            width: 14px;
            height: 16px;
            top: 84px;
            left: 255px;
          }
        }
      }
    }

    &-list {
      flex: 1;
      align-self: center;

      &-item {
        display: inline-flex;
        margin: 6px 5px 0 0;

        input[type=radio] {
          height: 0;
          opacity: 0;
          position: absolute;
          width: 0;

          &:checked {
            & + label {
              border: 1px solid #57667e;
              background-color: #57667e;
              color: #fff;
            }
          }

          & + label {
            align-items: center;
            border: 1px solid;
            border-radius: 20px;
            display: flex;
            height: 100%;
            justify-content: center;
            padding: 10px 20px;
            transition: all .2s ease;
            width: 100%;
            cursor: pointer;
          }
        }
      }
    }
  }
  /* EOD : 지도 */

  /* 리스트 */
  .list {
    max-width: 980px;
    margin: 0 auto;
    padding: 50px 0;

    .swiper {
      overflow: inherit;
    }

    &-head {
      font-size: 25px;
      letter-spacing: -2px;
      line-height: 1.2;
    }

    &-title {
      display: flex;
      align-items: center;

      &-text {
        font-size: 25px;
        letter-spacing: -2px;
        color: #666;
        line-height: 2;

        select {
          margin: 0 16px 0 5px;
          padding: 0 20px 0 5px;
          font-weight: 600;
          letter-spacing: -2.5px;
          color: #333;
          font-size: 30px;
        }
      }

      .tooltip {
        position: relative;

        &-btn {
          width: 20px;
          height: 20px;
          margin-left: 10px;
          border: 1px solid #666;
          border-radius: 50%;

          i {
            font-style: normal;
          }
        }

        &-icon {
          font-size: 13px;
        }

        &-wrap {
          position: absolute;
          top: 30px;
          left: 0;
          box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25);
          background: #fff;
          padding: 20px;
          width: 322px;
          z-index: 2;

          .btn-close {
            color: #666;
            position: absolute;
            right: 10px;
            top: 10px;
            font-size: 14px;
          }
        }

        &-cont {
          line-height: 1.2;
          color: #666;
          font-size: 14px;
        }
      }
    }

    &-card {
      margin-top: 30px;

      &-item {
        display: block;
        background: #fff;
        border-radius: 5px;
        overflow: hidden;
        box-shadow: 0 8px 24px rgba(149, 157, 165, 0.2);

        &-link {
          .img {
            height: 220px;
            border-color: initial;
            background: #eaeaea;

            img {
              object-fit: cover;
              width: 100%;
              height: 100%;
            }
          }

          .info {
            height: 100px;
            padding: 13px 15px 0;
            text-align: center;

            &-title {
              font-size: 18px;
              font-weight: 700;
              letter-spacing: -0.6px;
              line-height: 20px;
              text-overflow: ellipsis;
              white-space: nowrap;
              overflow: hidden;
            }

            &-locale {
              margin: 5px 0 16px;
              font-size: 15px;
              color: #666;
              line-height: 17px;
              letter-spacing: -0.5px;
            }

            &-tag {
              display: flex;
              justify-content: center;
              font-size: 14px;
              font-weight: 300;
              color: #666;
              line-height: 16px;

              &-list {
                display: block;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
              }
            }
          }
        }

        .btn-like {
          display: inline-flex;
          align-items: center;
          justify-content: center;
          position: absolute;
          right: 15px;
          top: 15px;
          width: 30px;
          height: 30px;
          border-radius: 50%;
          background: #fff;

          &.is-active {
            svg {
              fill: red;
            }
          }
        }
      }
    }

    .btn-more {
      width: 100%;
      margin: 30px 0 0 0;

      a {
        display: flex;
        margin: 0 auto;
        justify-content: center;
        align-items: center;
        letter-spacing: -0.5px;
        box-sizing: border-box;
        font-size: 16px;
        width: 260px;
        height: 45px;
        border: 1px solid #333;
        border-radius: 50px;

        svg {
          width: 20px;
          height: 20px;
          margin-top: -1px;
        }
      }
    }
  }
  /* EOD : 리스트 */

  .title {
    max-width: 980px;
    margin: 0 auto;
    padding: 0 0 40px;
    font-weight: 400;
    font-size: 22px;
    line-height: 24px;
    letter-spacing: -0.8px;
    color: #000;
  }

  /* 카드 슬라이더 */
  .card-slider {
    background: #333;
    height: 496px;
    padding: 50px 0 0;

    .card {
      display: flex;
      height: 100%;
      background: #fff;
      padding: 30px;
      border-radius: 5px;
      overflow: hidden;


      &:before {
        content: '';
        display: inline-block;
        width: 16px;
        height: 16px;
        border-radius: 100%;
        background: #333;
        position: absolute;
        left: 252px;
        top: -8px;
      }

      &:after {
        content: '';
        display: inline-block;
        width: 16px;
        height: 16px;
        border-radius: 100%;
        background: #333;
        position: absolute;
        left: 252px;
        bottom: -8px;
      }

      .img {
        min-width: 200px;
        width: 200px;
        height: 280px;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          border-radius: 5px;
          background: #ccc;
        }
      }

      .info {
        margin-left: 30px;
        padding: 0 0 0 30px;
        min-width: 390px;
        width: 390px;
        position: relative;

        &:before {
          content: '';
          display: inline-block;
          width: 1px;
          height: 100%;
          position: absolute;
          left: 0;
          top: 0;
          border: 1px dashed #999;
        }

        &-title {
          margin: 18px 0 5px;
          font-size: 24px;
          font-weight: 800;
          letter-spacing: -1.5px;
          color: #333;
          line-height: 26px;
          text-overflow: ellipsis;
          white-space: nowrap;
          overflow: hidden;
        }

        &-locate {
          display: block;
          font-size: 16px;
          line-height: 18px;
          color: #333;
          letter-spacing: -0.5px;
        }

        &-content {
          display: flex;
          justify-content: space-between;
          margin: 85px 0 0;

          &-period {
            width: 100px;

            .tit {
              display: block;
              padding: 0 0 10px;
              font-size: 13px;
              font-weight: 400;
              line-height: 15px;
            }

            .cont {
              display: block;
              height: 74px;
              font-size: 16px;
              line-height: 18px;
              color: #333;
              letter-spacing: -0.5px;
            }
          }

          &-place {
            width: 200px;

            .tit {
              display: block;
              padding: 0 0 10px;
              font-size: 13px;
              font-weight: 400;
              line-height: 15px;
            }

            .cont {
              display: block;
              height: 74px;
              font-size: 16px;
              line-height: 18px;
              color: #333;
              letter-spacing: -0.5px;
            }
          }
        }

        &-btn {
          display: flex;

          a {
            width: 120px;
            height: 30px;
            font-size: 14px;
            border-radius: 5px;
            display: flex;
            justify-content: center;
            align-items: center;
            box-sizing: border-box;
          }

          .btn-fill {
            border: 1px solid #333;
            background: #333;
            color: #fff;
          }

          .btn-line {
            border: 1px solid #333;
            background: #fff;
            color: #333;
            margin-left: 10px;
          }
        }
      }
    }

    .page-btn {
      width: 940px;
      height: 26px;
      margin: 30px auto 0;
      position: relative;
      text-align: center;

      &-inner {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        width: 250px;
        position: relative;
        padding: 0 70px;

        svg > path {
          stroke: white;
        }
      }

      .swiper-button {
        &-prev {
          &.swiper-button-disabled {
            display: none;
          }

          &:after {
            content: '';
          }
        }

        &-next {
          &.swiper-button-disabled {
            display: none;
          }

          &:after {
            content: '';
          }
        }
      }

      .custom-pagination {
        display: flex;
        justify-content: center;
        margin-top: 20px;
        position: absolute;
        bottom: 0;
        top: -25px;

        .custom-pagination-bullet {
          margin: 0 5px;
          width: 10px;
          box-sizing: border-box;
          height: 10px;
          background: #333;
          border: 1px solid #fff;
          opacity: 1;
          vertical-align: top;
          border-radius: 50%;
        }

        .custom-pagination-bullet-active {
          background: #fff;
          width: 25px;
          border-radius: 50px;
        }
      }

      &-more {
        display: inline-flex;
        align-items: center;
        position: absolute;
        right: 0;
        top: 3px;
        color: #fff;
        font-size: 16px;
        line-height: 18px;

        span {
          margin-left: 4px;
        }

        svg {
          width: 20px;
          height: 20px;
          margin-top: -1px;
        }
      }
    }
  }
  /* EOD : 카드 슬라이더 */

  /* 우리 지역 이야기 */
  /* EOD : 우리 지역 이야기 */
}